body {
    background-color: gray;
    width:1000px;
	margin:0px auto;
	text-align:center;
	padding:15px;
    align-content: center;
    align-items: center;
    text-decoration: none;
}

.header {
    font-size: xx-large;
    color: red;
    font-weight: bold;
    font-family: "Bell MT";
    text-align: center;
}

.menu {
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin:0px auto;
    color: black;
    font-weight: bold;
}

.border{
    border: 2px solid;
}


.gridview {
}

.gridview td {
}

.gridview th  {
}

.gridview .alt {
    }


.detailview {
}

.detailview td {
}

.detailview th  {
}

.formview {
}

.formview td {
}

.formview th  {
}

.footer {
    font-weight: bold;
}

.validation{
    color: red;
    font-weight: bold;
    text-align:right;
}

.left{
    text-align:left;
}

#wrap{
    margin: 0 auto;
}

#header{   
     padding: 5px 10px;
}

#logo {
    float: left;
    width: 15%;
    text-align: center;
    background-color: transparent;
    height: 75px;
}

#title{
    float: left;
    width: 65%;
    text-align: center;
    background-color: transparent;
    font-size: xx-large;
    color: #000000;
    font-weight: bold;
    height: 75px;
    align-content:center;
    color: red;
}

#navbar {
    float: left;
    width: 70%;
    text-align: center;
    background-color: transparent;
}

#date{
    float: left;
    width: 28%;
    text-align: center;
    align-content: center;
    background-color: transparent;
    padding-left: 10px;
    font-weight: bold;
}
